rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }

    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && (request.auth.token.email == 'msaimkhan2233@gmail.com');
    }

    match /products/{productId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /orders/{orderId} {
      allow read: if isAdmin() || (isSignedIn() && resource.data.customerEmail == request.auth.token.email);
      allow create: if isSignedIn();
      allow update: if isAdmin();
    }
  }
}
